@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mixins;

.houses-list-card {
  width: 100%;
}

.houses-list {
  display: flex;
  flex-direction: column;
  gap: vars.$space-5;
}

.houses-list__filters {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: vars.$space-3;
  align-items: flex-end;
}

.houses-list__filter-actions {
  display: flex;
  gap: vars.$space-2;
}

.houses-list__table {
  display: flex;
  flex-direction: column;
  gap: vars.$space-3;
}

@include mixins.responsive(vars.$breakpoint-md) {
  .houses-list__filters {
    grid-template-columns: 1fr;
  }
}
