<section class="users-page">
  <div class="users-page__header">
    <sf-page-header
      title="{{ 'USERS_PAGE.TITLE' | translate }}"
      subtitle="{{ 'USERS_PAGE.SUBTITLE' | translate }}"
    >
      <sf-button sfPageHeaderActions variant="ghost" type="button">
        {{ 'USERS_PAGE.NEW_USER' | translate }}
      </sf-button>
    </sf-page-header>
    <div class="users-page__filters">
      <sf-searchbar
        placeholder="{{ 'USERS_PAGE.SEARCH_PLACEHOLDER' | translate }}"
        (valueChange)="setFilter($event)"
      ></sf-searchbar>
    </div>
  </div>

  <sf-card>
    <sf-table [columns]="columns" [data]="displayedUsers()" [loading]="loadingSignal()" [actions]="actions" (rowAction)="onRowAction($event)"></sf-table>
  </sf-card>
</section>
