<button
  mat-flat-button
  class="sf-button"
  [attr.type]="type()"
  [style.background]="color()"
  [style.borderColor]="color()"
  [style.color]="textColor()"
  [style.width]="width()"
  [style.height]="height()"
  [disabled]="disabled() || loading()"
  [attr.aria-busy]="loading()"
  (click)="handleClick($event)"
>

  <span class="content">
    @if (loading()) {
      <mat-progress-spinner diameter="20"></mat-progress-spinner>
    }
    @if (text()) {
      {{ text() }}
    } @else {
      <ng-content></ng-content>
    }
  </span>
</button>
