// Core palette used throughout the dashboard
$bg: rgb(245, 247, 250);
$surface: rgb(255, 255, 255);
$text: rgb(15, 23, 42);
$muted: rgb(75, 85, 99);
$border: rgb(226, 232, 240);
$primary: rgb(56, 153, 255);
$primaryContrast: rgb(255, 255, 255);
$sidebarBg: rgb(255, 255, 255);
$sidebarActiveBg: rgb(24, 120, 242);
$sidebarActiveText: rgb(255, 255, 255);
$topbarBg: rgb(248, 250, 252);
$danger: rgb(239, 68, 68);
$warning: rgb(249, 115, 22);
$success: rgb(34, 197, 94);
