@use '../../../styles/index' as *;

:host {
  display: block;
  min-width: 20rem;
}

h2 {
  margin: 0;
  font-family: $font-display;
  font-size: 1.25rem;
}

p {
  margin-top: spacing(sm);
  color: $muted;
}

.actions {
  margin-top: spacing(md);
  display: flex;
  justify-content: flex-end;
  gap: spacing(sm);
}
