@use '../../../styles/index' as *;

:host {
  display: block;
  min-width: 20rem;
}

h2 {
  margin: 0;
  font-family: $font-display;
  font-size: 1.25rem;
}

p {
  margin-top: spacing(sm);
  color: $muted;
}

.actions {
  margin-top: spacing(md);
  display: flex;
  justify-content: flex-end;
  gap: spacing(sm);
}

:host-context([dir='ltr']) {
  direction: ltr;
  text-align: left;
}

:host-context([dir='ltr']) h2 {
  text-align: left;
}

:host-context([dir='ltr']) p {
  text-align: left;
}

:host-context([dir='ltr']) .actions {
  flex-direction: row;
  justify-content: flex-end;
}

:host-context([dir='rtl']) {
  direction: rtl;
  text-align: right;
}

:host-context([dir='rtl']) h2 {
  text-align: right;
}

:host-context([dir='rtl']) p {
  text-align: right;
}

:host-context([dir='rtl']) .actions {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
