@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.sf-card {
  @include mixins.card();
  display: flex;
  flex-direction: column;
  gap: vars.$space-4;
  min-height: 0;
}
